
.custom-list-group {
  list-style: none;
  padding: 0;

}

.custom-list-item {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;

}





.list-groups {
  list-style: none;
  padding: 0;

}

.custom-list-items  {
  text-decoration: none;
  background-color: #f8f9fa;
  border: none;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-list-items:hover {
  background-color: #e2e6ea;
}


.custom-list-items strong {
  font-weight: bold;
  color: #333;
}


.custom-list-items a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.custom-list-items a:hover {
  color: #0056b3;
}


