<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div>
        <ul class="list-groups custom_group">
          <a [routerLink]="['update',indice]">
            <li class="custom-list-items mt-2">
              <strong>{{ indice+1 }}.</strong>
              {{listEmp.nombre}} {{listEmp.apellido}} {{listEmp.cargo}} {{listEmp.salary}}
            </li>
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="custom-container mb-5">
  <app-emp-caracters (characterEmp)="addCharacterer($event)"></app-emp-caracters>
<div class="container">
  <ul class="custom-list-group">
    <li class="custom-list-item" *ngFor="let character of arreyCharacters">{{ character }}</li>
  </ul>
</div>

</div>

