<div class="container">
  <div class="row">
    <div class="col mt-5">
      <div class="list-groups custom_group d-flex gap-3">

      {{indice +1}}. {{listEmp.nombre}} {{listEmp.apellido}} {{listEmp.cargo}} {{listEmp.salary}}
          <a [routerLink]="['update',indice]" [queryParams]="{actiom:'1'}">
            Update

          </a>

          <a [routerLink]="['update',indice]" [queryParams]="{actiom:'2'}">

           Remove
          </a>
      </div>
    </div>
  </div>
</div>

<div class="custom-container mb-5">
  <app-emp-caracters (characterEmp)="addCharacterer($event)"></app-emp-caracters>
<div class="container">
  <ul class="custom-list-group">
    <li class="custom-list-item" *ngFor="let character of arreyCharacters">{{ character }}</li>
  </ul>
</div>

</div>

